<div id="header">
  <div>Toronto Waste Lookup</div>
</div>
<!-- searchbar section -->
<div id="search">
  <form #searchForm (ngSubmit)="process(searchForm)" class="form">
    <input id="searchbar" type="text" placeholder="Search for Waste Products..." name="query" [(ngModel)]="query"
      (input)="checkInput($event.target.value)">
    <button id="searchbtn" type="submit" primary>
      <mat-icon class="icon-flipped">search</mat-icon>
    </button>
  </form>
</div>
<br>
<!-- search results section -->
<div id="searchResults">
  <table class="resultsTable" *ngIf="searchResults.length > 0 && !loading">
    <tr *ngFor="let wasteprdt of searchResults">
      <td width="5%">
          <mat-icon [style.color]="wasteprdt.color" class="star-btn" id="{{wasteprdt.id ? wasteprdt.id : wasteprdt.title}}" (click)="toggleFavourite(wasteprdt.id ? wasteprdt.id : wasteprdt.title, $event)">star</mat-icon>
      </td>
      <td width="35%">{{wasteprdt.title}}</td>
      <td width="60%" [innerHTML]="decodeHtml(wasteprdt.body)">
      </td>
    </tr>
  </table>
  <mat-progress-spinner *ngIf="searchResults.length == 0 && loading" class="loading" mode="indeterminate" diameter="50" color="#22955E"></mat-progress-spinner>
</div>
<!-- favourites section -->
<div id="favourites">
  <h1>Favourites</h1>
  <table class="resultsTable" *ngIf="favourites.length > 0">
    <tr *ngFor="let wasteprdt of favourites">
      <td width="5%">
        <button mat-icon-button class="star-btn" style="color: rgb(34, 149, 94) !important;" (click)="removeFavourite(wasteprdt.id ? wasteprdt.id : wasteprdt.title)">
          <mat-icon>star</mat-icon>
        </button>
      </td>
      <td width="35%">{{wasteprdt.title}}</td>
      <td width="60%" [innerHTML]="decodeHtml(wasteprdt.body)">
      </td>
    </tr>
  </table>
  <p *ngIf="favourites.length == 0">You have no favourites! Click the <mat-icon style="vertical-align: middle">star</mat-icon> icon next to a waste product in the search results to add it to your favourites. </p>
</div>